<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>UIAppFonts</key>
	<array>
		<string>Aceh Original.otf</string>
		<string>AdunarothClassic.ttf</string>
		<string>Aleo-Black.ttf</string>
		<string>Aleo-BlackItalic.ttf</string>
		<string>Aleo-Bold.ttf</string>
		<string>Aleo-BoldItalic.ttf</string>
		<string>Aleo-ExtraBold.ttf</string>
		<string>Aleo-ExtraBoldItalic.ttf</string>
		<string>Aleo-ExtraLight.ttf</string>
		<string>Aleo-ExtraLightItalic.ttf</string>
		<string>Aleo-Italic-VariableFont_wght.ttf</string>
		<string>Aleo-Italic.ttf</string>
		<string>Aleo-Light.ttf</string>
		<string>Aleo-LightItalic.ttf</string>
		<string>Aleo-Medium.ttf</string>
		<string>Aleo-MediumItalic.ttf</string>
		<string>Aleo-Regular.ttf</string>
		<string>Aleo-SemiBold.ttf</string>
		<string>Aleo-SemiBoldItalic.ttf</string>
		<string>Aleo-Thin.ttf</string>
		<string>Aleo-ThinItalic.ttf</string>
		<string>Aleo-VariableFont_wght.ttf</string>
		<string>Arsenal-Bold.ttf</string>
		<string>Arsenal-BoldItalic.ttf</string>
		<string>Arsenal-Italic.ttf</string>
		<string>Arsenal-Regular.ttf</string>
		<string>Asset-Regular.ttf</string>
		<string>Avern.ttf</string>
		<string>Aziana_v1.6.otf</string>
		<string>BadScript-Regular.ttf</string>
		<string>Bel'Arian.ttf</string>
		<string>Bokscript.ttf</string>
		<string>CKA3b.ttf</string>
		<string>CascadiaMono-Bold.otf</string>
		<string>CascadiaMono-BoldItalic.otf</string>
		<string>CascadiaMono-ExtraLight.otf</string>
		<string>CascadiaMono-ExtraLightItalic.otf</string>
		<string>CascadiaMono-Italic.otf</string>
		<string>CascadiaMono-Light.otf</string>
		<string>CascadiaMono-LightItalic.otf</string>
		<string>CascadiaMono-Regular.otf</string>
		<string>CascadiaMono-SemiBold.otf</string>
		<string>CascadiaMono-SemiBoldItalic.otf</string>
		<string>CascadiaMono-SemiLight.otf</string>
		<string>CascadiaMono-SemiLightItalic.otf</string>
		<string>CascadiaMono.ttf</string>
		<string>CascadiaMonoItalic.ttf</string>
		<string>Cause-Black.ttf</string>
		<string>Cause-Bold.ttf</string>
		<string>Cause-ExtraBold.ttf</string>
		<string>Cause-ExtraLight.ttf</string>
		<string>Cause-Light.ttf</string>
		<string>Cause-Medium.ttf</string>
		<string>Cause-Regular.ttf</string>
		<string>Cause-SemiBold.ttf</string>
		<string>Cause-Thin.ttf</string>
		<string>Cause-VariableFont_wght.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>Curvetic-normal.otf</string>
		<string>Cylenian Font v8.ttf</string>
		<string>Dardanian7.ttf</string>
		<string>Datatype-Black.ttf</string>
		<string>Datatype-Bold.ttf</string>
		<string>Datatype-ExtraBold.ttf</string>
		<string>Datatype-ExtraLight.ttf</string>
		<string>Datatype-Light.ttf</string>
		<string>Datatype-Medium.ttf</string>
		<string>Datatype-Regular.ttf</string>
		<string>Datatype-SemiBold.ttf</string>
		<string>Datatype-Thin.ttf</string>
		<string>Datatype-VariableFont_wdth,wght.ttf</string>
		<string>Datatype_Condensed-Black.ttf</string>
		<string>Datatype_Condensed-Bold.ttf</string>
		<string>Datatype_Condensed-ExtraBold.ttf</string>
		<string>Datatype_Condensed-ExtraLight.ttf</string>
		<string>Datatype_Condensed-Light.ttf</string>
		<string>Datatype_Condensed-Medium.ttf</string>
		<string>Datatype_Condensed-Regular.ttf</string>
		<string>Datatype_Condensed-SemiBold.ttf</string>
		<string>Datatype_Condensed-Thin.ttf</string>
		<string>Datatype_Expanded-Black.ttf</string>
		<string>Datatype_Expanded-Bold.ttf</string>
		<string>Datatype_Expanded-ExtraBold.ttf</string>
		<string>Datatype_Expanded-ExtraLight.ttf</string>
		<string>Datatype_Expanded-Light.ttf</string>
		<string>Datatype_Expanded-Medium.ttf</string>
		<string>Datatype_Expanded-Regular.ttf</string>
		<string>Datatype_Expanded-SemiBold.ttf</string>
		<string>Datatype_Expanded-Thin.ttf</string>
		<string>Datatype_ExtraCondensed-Black.ttf</string>
		<string>Datatype_ExtraCondensed-Bold.ttf</string>
		<string>Datatype_ExtraCondensed-ExtraBold.ttf</string>
		<string>Datatype_ExtraCondensed-ExtraLight.ttf</string>
		<string>Datatype_ExtraCondensed-Light.ttf</string>
		<string>Datatype_ExtraCondensed-Medium.ttf</string>
		<string>Datatype_ExtraCondensed-Regular.ttf</string>
		<string>Datatype_ExtraCondensed-SemiBold.ttf</string>
		<string>Datatype_ExtraCondensed-Thin.ttf</string>
		<string>Datatype_ExtraExpanded-Black.ttf</string>
		<string>Datatype_ExtraExpanded-Bold.ttf</string>
		<string>Datatype_ExtraExpanded-ExtraBold.ttf</string>
		<string>Datatype_ExtraExpanded-ExtraLight.ttf</string>
		<string>Datatype_ExtraExpanded-Light.ttf</string>
		<string>Datatype_ExtraExpanded-Medium.ttf</string>
		<string>Datatype_ExtraExpanded-Regular.ttf</string>
		<string>Datatype_ExtraExpanded-SemiBold.ttf</string>
		<string>Datatype_ExtraExpanded-Thin.ttf</string>
		<string>Datatype_SemiCondensed-Black.ttf</string>
		<string>Datatype_SemiCondensed-Bold.ttf</string>
		<string>Datatype_SemiCondensed-ExtraBold.ttf</string>
		<string>Datatype_SemiCondensed-ExtraLight.ttf</string>
		<string>Datatype_SemiCondensed-Light.ttf</string>
		<string>Datatype_SemiCondensed-Medium.ttf</string>
		<string>Datatype_SemiCondensed-Regular.ttf</string>
		<string>Datatype_SemiCondensed-SemiBold.ttf</string>
		<string>Datatype_SemiCondensed-Thin.ttf</string>
		<string>Datatype_SemiExpanded-Black.ttf</string>
		<string>Datatype_SemiExpanded-Bold.ttf</string>
		<string>Datatype_SemiExpanded-ExtraBold.ttf</string>
		<string>Datatype_SemiExpanded-ExtraLight.ttf</string>
		<string>Datatype_SemiExpanded-Light.ttf</string>
		<string>Datatype_SemiExpanded-Medium.ttf</string>
		<string>Datatype_SemiExpanded-Regular.ttf</string>
		<string>Datatype_SemiExpanded-SemiBold.ttf</string>
		<string>Datatype_SemiExpanded-Thin.ttf</string>
		<string>Datatype_UltraCondensed-Black.ttf</string>
		<string>Datatype_UltraCondensed-Bold.ttf</string>
		<string>Datatype_UltraCondensed-ExtraBold.ttf</string>
		<string>Datatype_UltraCondensed-ExtraLight.ttf</string>
		<string>Datatype_UltraCondensed-Light.ttf</string>
		<string>Datatype_UltraCondensed-Medium.ttf</string>
		<string>Datatype_UltraCondensed-Regular.ttf</string>
		<string>Datatype_UltraCondensed-SemiBold.ttf</string>
		<string>Datatype_UltraCondensed-Thin.ttf</string>
		<string>Doto-Black.ttf</string>
		<string>Doto-Bold.ttf</string>
		<string>Doto-ExtraBold.ttf</string>
		<string>Doto-ExtraLight.ttf</string>
		<string>Doto-Light.ttf</string>
		<string>Doto-Medium.ttf</string>
		<string>Doto-Regular.ttf</string>
		<string>Doto-SemiBold.ttf</string>
		<string>Doto-Thin.ttf</string>
		<string>Doto-VariableFont_ROND,wght.ttf</string>
		<string>Doto_Rounded-Black.ttf</string>
		<string>Doto_Rounded-Bold.ttf</string>
		<string>Doto_Rounded-ExtraBold.ttf</string>
		<string>Doto_Rounded-ExtraLight.ttf</string>
		<string>Doto_Rounded-Light.ttf</string>
		<string>Doto_Rounded-Medium.ttf</string>
		<string>Doto_Rounded-Regular.ttf</string>
		<string>Doto_Rounded-SemiBold.ttf</string>
		<string>Doto_Rounded-Thin.ttf</string>
		<string>DushanMusaAlphabet-Regular.otf</string>
		<string>EduSABeginner-Bold.ttf</string>
		<string>EduSABeginner-Medium.ttf</string>
		<string>EduSABeginner-Regular.ttf</string>
		<string>EduSABeginner-SemiBold.ttf</string>
		<string>EduSABeginner-VariableFont_wght.ttf</string>
		<string>Enganagri.ttf</string>
		<string>Eufnix.ttf</string>
		<string>Faer.ttf</string>
		<string>FehteMartonersiRegular.ttf</string>
		<string>Fennim.ttf</string>
		<string>GEYINZI.TTF</string>
		<string>GFSArtemisia.otf</string>
		<string>GFSArtemisia.ttf</string>
		<string>GFSArtemisiaBold.otf</string>
		<string>GFSArtemisiaBold.ttf</string>
		<string>GFSArtemisiaBoldIt.otf</string>
		<string>GFSArtemisiaBoldIt.ttf</string>
		<string>GFSArtemisiaIt.otf</string>
		<string>GFSArtemisiaItalic.ttf</string>
		<string>GFSDidot-Regular.ttf</string>
		<string>GFSGazis.otf</string>
		<string>GFSNeohellenic-Bold.ttf</string>
		<string>GFSNeohellenic-BoldItalic.ttf</string>
		<string>GFSNeohellenic-Italic.ttf</string>
		<string>GFSNeohellenic-Regular.ttf</string>
		<string>GFSOlga.otf</string>
		<string>GFSOlga.ttf</string>
		<string>GFSPorson.otf</string>
		<string>GFSPorson.ttf</string>
		<string>GFS_Orpheus_Sans.otf</string>
		<string>GFS_Orpheus_Sans.ttf</string>
		<string>Gluten-Black.ttf</string>
		<string>Gluten-Bold.ttf</string>
		<string>Gluten-ExtraBold.ttf</string>
		<string>Gluten-ExtraLight.ttf</string>
		<string>Gluten-Light.ttf</string>
		<string>Gluten-Medium.ttf</string>
		<string>Gluten-Regular.ttf</string>
		<string>Gluten-SemiBold.ttf</string>
		<string>Gluten-Thin.ttf</string>
		<string>Gluten-VariableFont_slnt,wght.ttf</string>
		<string>GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf</string>
		<string>GoogleSansFlex_120pt-Black.ttf</string>
		<string>GoogleSansFlex_120pt-Bold.ttf</string>
		<string>GoogleSansFlex_120pt-ExtraBold.ttf</string>
		<string>GoogleSansFlex_120pt-ExtraLight.ttf</string>
		<string>GoogleSansFlex_120pt-Light.ttf</string>
		<string>GoogleSansFlex_120pt-Medium.ttf</string>
		<string>GoogleSansFlex_120pt-Regular.ttf</string>
		<string>GoogleSansFlex_120pt-SemiBold.ttf</string>
		<string>GoogleSansFlex_120pt-Thin.ttf</string>
		<string>GoogleSansFlex_24pt-Black.ttf</string>
		<string>GoogleSansFlex_24pt-Bold.ttf</string>
		<string>GoogleSansFlex_24pt-ExtraBold.ttf</string>
		<string>GoogleSansFlex_24pt-ExtraLight.ttf</string>
		<string>GoogleSansFlex_24pt-Light.ttf</string>
		<string>GoogleSansFlex_24pt-Medium.ttf</string>
		<string>GoogleSansFlex_24pt-Regular.ttf</string>
		<string>GoogleSansFlex_24pt-SemiBold.ttf</string>
		<string>GoogleSansFlex_24pt-Thin.ttf</string>
		<string>GoogleSansFlex_36pt-Black.ttf</string>
		<string>GoogleSansFlex_36pt-Bold.ttf</string>
		<string>GoogleSansFlex_36pt-ExtraBold.ttf</string>
		<string>GoogleSansFlex_36pt-ExtraLight.ttf</string>
		<string>GoogleSansFlex_36pt-Light.ttf</string>
		<string>GoogleSansFlex_36pt-Medium.ttf</string>
		<string>GoogleSansFlex_36pt-Regular.ttf</string>
		<string>GoogleSansFlex_36pt-SemiBold.ttf</string>
		<string>GoogleSansFlex_36pt-Thin.ttf</string>
		<string>GoogleSansFlex_72pt-Black.ttf</string>
		<string>GoogleSansFlex_72pt-Bold.ttf</string>
		<string>GoogleSansFlex_72pt-ExtraBold.ttf</string>
		<string>GoogleSansFlex_72pt-ExtraLight.ttf</string>
		<string>GoogleSansFlex_72pt-Light.ttf</string>
		<string>GoogleSansFlex_72pt-Medium.ttf</string>
		<string>GoogleSansFlex_72pt-Regular.ttf</string>
		<string>GoogleSansFlex_72pt-SemiBold.ttf</string>
		<string>GoogleSansFlex_72pt-Thin.ttf</string>
		<string>GoogleSansFlex_9pt-Black.ttf</string>
		<string>GoogleSansFlex_9pt-Bold.ttf</string>
		<string>GoogleSansFlex_9pt-ExtraBold.ttf</string>
		<string>GoogleSansFlex_9pt-ExtraLight.ttf</string>
		<string>GoogleSansFlex_9pt-Light.ttf</string>
		<string>GoogleSansFlex_9pt-Medium.ttf</string>
		<string>GoogleSansFlex_9pt-Regular.ttf</string>
		<string>GoogleSansFlex_9pt-SemiBold.ttf</string>
		<string>GoogleSansFlex_9pt-Thin.ttf</string>
		<string>Gorwelion.ttf</string>
		<string>Greek Anglish.ttf</string>
		<string>Herami.otf</string>
		<string>INTERBET.ttf</string>
		<string>ImperialScript-Regular.ttf</string>
		<string>Inconsolata-Black.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>Inconsolata-ExtraBold.ttf</string>
		<string>Inconsolata-ExtraLight.ttf</string>
		<string>Inconsolata-Light.ttf</string>
		<string>Inconsolata-Medium.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Inconsolata-SemiBold.ttf</string>
		<string>Inconsolata-VariableFont_wdth,wght.ttf</string>
		<string>Inconsolata_Condensed-Black.ttf</string>
		<string>Inconsolata_Condensed-Bold.ttf</string>
		<string>Inconsolata_Condensed-ExtraBold.ttf</string>
		<string>Inconsolata_Condensed-ExtraLight.ttf</string>
		<string>Inconsolata_Condensed-Light.ttf</string>
		<string>Inconsolata_Condensed-Medium.ttf</string>
		<string>Inconsolata_Condensed-Regular.ttf</string>
		<string>Inconsolata_Condensed-SemiBold.ttf</string>
		<string>Inconsolata_Expanded-Black.ttf</string>
		<string>Inconsolata_Expanded-Bold.ttf</string>
		<string>Inconsolata_Expanded-ExtraBold.ttf</string>
		<string>Inconsolata_Expanded-ExtraLight.ttf</string>
		<string>Inconsolata_Expanded-Light.ttf</string>
		<string>Inconsolata_Expanded-Medium.ttf</string>
		<string>Inconsolata_Expanded-Regular.ttf</string>
		<string>Inconsolata_Expanded-SemiBold.ttf</string>
		<string>Inconsolata_ExtraCondensed-Black.ttf</string>
		<string>Inconsolata_ExtraCondensed-Bold.ttf</string>
		<string>Inconsolata_ExtraCondensed-ExtraBold.ttf</string>
		<string>Inconsolata_ExtraCondensed-ExtraLight.ttf</string>
		<string>Inconsolata_ExtraCondensed-Light.ttf</string>
		<string>Inconsolata_ExtraCondensed-Medium.ttf</string>
		<string>Inconsolata_ExtraCondensed-Regular.ttf</string>
		<string>Inconsolata_ExtraCondensed-SemiBold.ttf</string>
		<string>Inconsolata_ExtraExpanded-Black.ttf</string>
		<string>Inconsolata_ExtraExpanded-Bold.ttf</string>
		<string>Inconsolata_ExtraExpanded-ExtraBold.ttf</string>
		<string>Inconsolata_ExtraExpanded-ExtraLight.ttf</string>
		<string>Inconsolata_ExtraExpanded-Light.ttf</string>
		<string>Inconsolata_ExtraExpanded-Medium.ttf</string>
		<string>Inconsolata_ExtraExpanded-Regular.ttf</string>
		<string>Inconsolata_ExtraExpanded-SemiBold.ttf</string>
		<string>Inconsolata_SemiCondensed-Black.ttf</string>
		<string>Inconsolata_SemiCondensed-Bold.ttf</string>
		<string>Inconsolata_SemiCondensed-ExtraBold.ttf</string>
		<string>Inconsolata_SemiCondensed-ExtraLight.ttf</string>
		<string>Inconsolata_SemiCondensed-Light.ttf</string>
		<string>Inconsolata_SemiCondensed-Medium.ttf</string>
		<string>Inconsolata_SemiCondensed-Regular.ttf</string>
		<string>Inconsolata_SemiCondensed-SemiBold.ttf</string>
		<string>Inconsolata_SemiExpanded-Black.ttf</string>
		<string>Inconsolata_SemiExpanded-Bold.ttf</string>
		<string>Inconsolata_SemiExpanded-ExtraBold.ttf</string>
		<string>Inconsolata_SemiExpanded-ExtraLight.ttf</string>
		<string>Inconsolata_SemiExpanded-Light.ttf</string>
		<string>Inconsolata_SemiExpanded-Medium.ttf</string>
		<string>Inconsolata_SemiExpanded-Regular.ttf</string>
		<string>Inconsolata_SemiExpanded-SemiBold.ttf</string>
		<string>Inconsolata_UltraCondensed-Black.ttf</string>
		<string>Inconsolata_UltraCondensed-Bold.ttf</string>
		<string>Inconsolata_UltraCondensed-ExtraBold.ttf</string>
		<string>Inconsolata_UltraCondensed-ExtraLight.ttf</string>
		<string>Inconsolata_UltraCondensed-Light.ttf</string>
		<string>Inconsolata_UltraCondensed-Medium.ttf</string>
		<string>Inconsolata_UltraCondensed-Regular.ttf</string>
		<string>Inconsolata_UltraCondensed-SemiBold.ttf</string>
		<string>Inconsolata_UltraExpanded-Black.ttf</string>
		<string>Inconsolata_UltraExpanded-Bold.ttf</string>
		<string>Inconsolata_UltraExpanded-ExtraBold.ttf</string>
		<string>Inconsolata_UltraExpanded-ExtraLight.ttf</string>
		<string>Inconsolata_UltraExpanded-Light.ttf</string>
		<string>Inconsolata_UltraExpanded-Medium.ttf</string>
		<string>Inconsolata_UltraExpanded-Regular.ttf</string>
		<string>Inconsolata_UltraExpanded-SemiBold.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>Inspired.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>Inter-Italic-VariableFont_opsz,wght.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-BlackItalic.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-BoldItalic.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-ExtraBoldItalic.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-ExtraLightItalic.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-LightItalic.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-MediumItalic.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-SemiBoldItalic.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
		<string>Inter_18pt-ThinItalic.ttf</string>
		<string>Inter_24pt-Black.ttf</string>
		<string>Inter_24pt-BlackItalic.ttf</string>
		<string>Inter_24pt-Bold.ttf</string>
		<string>Inter_24pt-BoldItalic.ttf</string>
		<string>Inter_24pt-ExtraBold.ttf</string>
		<string>Inter_24pt-ExtraBoldItalic.ttf</string>
		<string>Inter_24pt-ExtraLight.ttf</string>
		<string>Inter_24pt-ExtraLightItalic.ttf</string>
		<string>Inter_24pt-Italic.ttf</string>
		<string>Inter_24pt-Light.ttf</string>
		<string>Inter_24pt-LightItalic.ttf</string>
		<string>Inter_24pt-Medium.ttf</string>
		<string>Inter_24pt-MediumItalic.ttf</string>
		<string>Inter_24pt-Regular.ttf</string>
		<string>Inter_24pt-SemiBold.ttf</string>
		<string>Inter_24pt-SemiBoldItalic.ttf</string>
		<string>Inter_24pt-Thin.ttf</string>
		<string>Inter_24pt-ThinItalic.ttf</string>
		<string>Inter_28pt-Black.ttf</string>
		<string>Inter_28pt-BlackItalic.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
		<string>Inter_28pt-BoldItalic.ttf</string>
		<string>Inter_28pt-ExtraBold.ttf</string>
		<string>Inter_28pt-ExtraBoldItalic.ttf</string>
		<string>Inter_28pt-ExtraLight.ttf</string>
		<string>Inter_28pt-ExtraLightItalic.ttf</string>
		<string>Inter_28pt-Italic.ttf</string>
		<string>Inter_28pt-Light.ttf</string>
		<string>Inter_28pt-LightItalic.ttf</string>
		<string>Inter_28pt-Medium.ttf</string>
		<string>Inter_28pt-MediumItalic.ttf</string>
		<string>Inter_28pt-Regular.ttf</string>
		<string>Inter_28pt-SemiBold.ttf</string>
		<string>Inter_28pt-SemiBoldItalic.ttf</string>
		<string>Inter_28pt-Thin.ttf</string>
		<string>Inter_28pt-ThinItalic.ttf</string>
		<string>Italianno-Regular.ttf</string>
		<string>Jeernervaniaan_Sribnaki.TTF</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-BoldItalic.ttf</string>
		<string>JetBrainsMono-ExtraBold.ttf</string>
		<string>JetBrainsMono-ExtraBoldItalic.ttf</string>
		<string>JetBrainsMono-ExtraLight.ttf</string>
		<string>JetBrainsMono-ExtraLightItalic.ttf</string>
		<string>JetBrainsMono-Italic-VariableFont_wght.ttf</string>
		<string>JetBrainsMono-Italic.ttf</string>
		<string>JetBrainsMono-Light.ttf</string>
		<string>JetBrainsMono-LightItalic.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-MediumItalic.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>JetBrainsMono-SemiBoldItalic.ttf</string>
		<string>JetBrainsMono-Thin.ttf</string>
		<string>JetBrainsMono-ThinItalic.ttf</string>
		<string>JetBrainsMono-VariableFont_wght.ttf</string>
		<string>KRISHNA _ONAL_NARMAL.ttf</string>
		<string>Katona III.ttf</string>
		<string>Keltic.ttf</string>
		<string>Kerigal.ttf</string>
		<string>LTSuperiorMono-Bold.otf</string>
		<string>LTSuperiorMono-Medium.otf</string>
		<string>LTSuperiorMono-Regular.otf</string>
		<string>LTSuperiorMono-Semibold.otf</string>
		<string>Laala-normal.otf</string>
		<string>Lancelot-Regular.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Lekton-Bold.ttf</string>
		<string>Lekton-Italic.ttf</string>
		<string>Lekton-Regular.ttf</string>
		<string>Lierean Script.ttf</string>
		<string>Lortho.ttf</string>
		<string>LucreciaSerif.ttf</string>
		<string>Lupanesque.ttf</string>
		<string>Mesaam__.ttf</string>
		<string>Montaga-Regular.ttf</string>
		<string>NEWAKHAT.TTF</string>
		<string>NEWMAORI.TTF</string>
		<string>NEWMONGT.TTF</string>
		<string>NeoRunicKerning.ttf</string>
		<string>Nirichaen (Ninety).ttf</string>
		<string>NotoSerif-Black.ttf</string>
		<string>NotoSerif-BlackItalic.ttf</string>
		<string>NotoSerif-Bold.ttf</string>
		<string>NotoSerif-BoldItalic.ttf</string>
		<string>NotoSerif-ExtraBold.ttf</string>
		<string>NotoSerif-ExtraBoldItalic.ttf</string>
		<string>NotoSerif-ExtraLight.ttf</string>
		<string>NotoSerif-ExtraLightItalic.ttf</string>
		<string>NotoSerif-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerif-Italic.ttf</string>
		<string>NotoSerif-Light.ttf</string>
		<string>NotoSerif-LightItalic.ttf</string>
		<string>NotoSerif-Medium.ttf</string>
		<string>NotoSerif-MediumItalic.ttf</string>
		<string>NotoSerif-Regular.ttf</string>
		<string>NotoSerif-SemiBold.ttf</string>
		<string>NotoSerif-SemiBoldItalic.ttf</string>
		<string>NotoSerif-Thin.ttf</string>
		<string>NotoSerif-ThinItalic.ttf</string>
		<string>NotoSerif-VariableFont_wdth,wght.ttf</string>
		<string>NotoSerif_Condensed-Black.ttf</string>
		<string>NotoSerif_Condensed-BlackItalic.ttf</string>
		<string>NotoSerif_Condensed-Bold.ttf</string>
		<string>NotoSerif_Condensed-BoldItalic.ttf</string>
		<string>NotoSerif_Condensed-ExtraBold.ttf</string>
		<string>NotoSerif_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerif_Condensed-ExtraLight.ttf</string>
		<string>NotoSerif_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSerif_Condensed-Italic.ttf</string>
		<string>NotoSerif_Condensed-Light.ttf</string>
		<string>NotoSerif_Condensed-LightItalic.ttf</string>
		<string>NotoSerif_Condensed-Medium.ttf</string>
		<string>NotoSerif_Condensed-MediumItalic.ttf</string>
		<string>NotoSerif_Condensed-Regular.ttf</string>
		<string>NotoSerif_Condensed-SemiBold.ttf</string>
		<string>NotoSerif_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSerif_Condensed-Thin.ttf</string>
		<string>NotoSerif_Condensed-ThinItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Black.ttf</string>
		<string>NotoSerif_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Bold.ttf</string>
		<string>NotoSerif_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSerif_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSerif_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Italic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Light.ttf</string>
		<string>NotoSerif_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Medium.ttf</string>
		<string>NotoSerif_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Regular.ttf</string>
		<string>NotoSerif_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSerif_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSerif_ExtraCondensed-Thin.ttf</string>
		<string>NotoSerif_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Black.ttf</string>
		<string>NotoSerif_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Bold.ttf</string>
		<string>NotoSerif_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSerif_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSerif_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Italic.ttf</string>
		<string>NotoSerif_SemiCondensed-Light.ttf</string>
		<string>NotoSerif_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Medium.ttf</string>
		<string>NotoSerif_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Regular.ttf</string>
		<string>NotoSerif_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSerif_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSerif_SemiCondensed-Thin.ttf</string>
		<string>NotoSerif_SemiCondensed-ThinItalic.ttf</string>
		<string>NyghtSerif-Bold.otf</string>
		<string>NyghtSerif-Bold.ttf</string>
		<string>NyghtSerif-BoldItalic.otf</string>
		<string>NyghtSerif-BoldItalic.ttf</string>
		<string>NyghtSerif-Dark.otf</string>
		<string>NyghtSerif-Dark.ttf</string>
		<string>NyghtSerif-DarkItalic.otf</string>
		<string>NyghtSerif-DarkItalic.ttf</string>
		<string>NyghtSerif-Light.otf</string>
		<string>NyghtSerif-Light.ttf</string>
		<string>NyghtSerif-LightItalic.otf</string>
		<string>NyghtSerif-LightItalic.ttf</string>
		<string>NyghtSerif-Medium.otf</string>
		<string>NyghtSerif-Medium.ttf</string>
		<string>NyghtSerif-MediumItalic.otf</string>
		<string>NyghtSerif-MediumItalic.ttf</string>
		<string>NyghtSerif-Regular.otf</string>
		<string>NyghtSerif-Regular.ttf</string>
		<string>NyghtSerif-RegularItalic.otf</string>
		<string>NyghtSerif-RegularItalic.ttf</string>
		<string>Oranienbaum-Regular.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Phono Braille.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-MediumItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>Ren.otf</string>
		<string>RoadUI-Bold.otf</string>
		<string>RoadUI-Bold.ttf</string>
		<string>RoadUI-BoldOblique.otf</string>
		<string>RoadUI-BoldOblique.ttf</string>
		<string>RoadUI-ExtraBold.otf</string>
		<string>RoadUI-ExtraBold.ttf</string>
		<string>RoadUI-ExtraBoldOblique.otf</string>
		<string>RoadUI-ExtraBoldOblique.ttf</string>
		<string>RoadUI-ExtraLight.otf</string>
		<string>RoadUI-ExtraLight.ttf</string>
		<string>RoadUI-ExtraLightOblique.otf</string>
		<string>RoadUI-ExtraLightOblique.ttf</string>
		<string>RoadUI-Light.otf</string>
		<string>RoadUI-Light.ttf</string>
		<string>RoadUI-LightOblique.otf</string>
		<string>RoadUI-LightOblique.ttf</string>
		<string>RoadUI-Medium.otf</string>
		<string>RoadUI-Medium.ttf</string>
		<string>RoadUI-MediumOblique.otf</string>
		<string>RoadUI-MediumOblique.ttf</string>
		<string>RoadUI-Oblique.otf</string>
		<string>RoadUI-Oblique.ttf</string>
		<string>RoadUI-Regular.otf</string>
		<string>RoadUI-Regular.ttf</string>
		<string>RoadUI-SemiBold.otf</string>
		<string>RoadUI-SemiBold.ttf</string>
		<string>RoadUI-SemiBoldOblique.otf</string>
		<string>RoadUI-SemiBoldOblique.ttf</string>
		<string>RoadUI-Thin.otf</string>
		<string>RoadUI-Thin.ttf</string>
		<string>RoadUI-ThinOblique.otf</string>
		<string>RoadUI-ThinOblique.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-Italic-VariableFont_wdth,wght.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-VariableFont_wdth,wght.ttf</string>
		<string>Roboto_Condensed-Black.ttf</string>
		<string>Roboto_Condensed-BlackItalic.ttf</string>
		<string>Roboto_Condensed-Bold.ttf</string>
		<string>Roboto_Condensed-BoldItalic.ttf</string>
		<string>Roboto_Condensed-ExtraBold.ttf</string>
		<string>Roboto_Condensed-ExtraBoldItalic.ttf</string>
		<string>Roboto_Condensed-ExtraLight.ttf</string>
		<string>Roboto_Condensed-ExtraLightItalic.ttf</string>
		<string>Roboto_Condensed-Italic.ttf</string>
		<string>Roboto_Condensed-Light.ttf</string>
		<string>Roboto_Condensed-LightItalic.ttf</string>
		<string>Roboto_Condensed-Medium.ttf</string>
		<string>Roboto_Condensed-MediumItalic.ttf</string>
		<string>Roboto_Condensed-Regular.ttf</string>
		<string>Roboto_Condensed-SemiBold.ttf</string>
		<string>Roboto_Condensed-SemiBoldItalic.ttf</string>
		<string>Roboto_Condensed-Thin.ttf</string>
		<string>Roboto_Condensed-ThinItalic.ttf</string>
		<string>Roboto_SemiCondensed-Black.ttf</string>
		<string>Roboto_SemiCondensed-BlackItalic.ttf</string>
		<string>Roboto_SemiCondensed-Bold.ttf</string>
		<string>Roboto_SemiCondensed-BoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-ExtraBold.ttf</string>
		<string>Roboto_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-ExtraLight.ttf</string>
		<string>Roboto_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>Roboto_SemiCondensed-Italic.ttf</string>
		<string>Roboto_SemiCondensed-Light.ttf</string>
		<string>Roboto_SemiCondensed-LightItalic.ttf</string>
		<string>Roboto_SemiCondensed-Medium.ttf</string>
		<string>Roboto_SemiCondensed-MediumItalic.ttf</string>
		<string>Roboto_SemiCondensed-Regular.ttf</string>
		<string>Roboto_SemiCondensed-SemiBold.ttf</string>
		<string>Roboto_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-Thin.ttf</string>
		<string>Roboto_SemiCondensed-ThinItalic.ttf</string>
		<string>RockSalt-Regular.ttf</string>
		<string>Roenskrif-Regular.ttf</string>
		<string>Script Cursive.ttf</string>
		<string>Shirn BrÑdulÇ (8).otf</string>
		<string>Shiwi.ttf</string>
		<string>Sidaan.ttf</string>
		<string>Sofia-Regular.ttf</string>
		<string>Southern Archipelago Final.ttf</string>
		<string>Soyombo.otf</string>
		<string>SpaceInKees.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>Tengo.ttf</string>
		<string>Ultra-Regular.ttf</string>
		<string>Universal Alphabet.ttf</string>
		<string>Utruscan.ttf</string>
		<string>VT323-Regular.ttf</string>
		<string>Vavileqel.otf</string>
		<string>Vremisian.ttf</string>
		<string>Workbench-Regular-VariableFont_BLED,SCAN.ttf</string>
		<string>ZalandoSansSemiExpanded-Black.ttf</string>
		<string>ZalandoSansSemiExpanded-BlackItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-Bold.ttf</string>
		<string>ZalandoSansSemiExpanded-BoldItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-ExtraBold.ttf</string>
		<string>ZalandoSansSemiExpanded-ExtraBoldItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-ExtraLight.ttf</string>
		<string>ZalandoSansSemiExpanded-ExtraLightItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-Italic-VariableFont_wght.ttf</string>
		<string>ZalandoSansSemiExpanded-Italic.ttf</string>
		<string>ZalandoSansSemiExpanded-Light.ttf</string>
		<string>ZalandoSansSemiExpanded-LightItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-Medium.ttf</string>
		<string>ZalandoSansSemiExpanded-MediumItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-Regular.ttf</string>
		<string>ZalandoSansSemiExpanded-SemiBold.ttf</string>
		<string>ZalandoSansSemiExpanded-SemiBoldItalic.ttf</string>
		<string>ZalandoSansSemiExpanded-VariableFont_wght.ttf</string>
		<string>ZvinSerif-Black.otf</string>
		<string>ZvinSerif-Black.ttf</string>
		<string>ZvinSerif-Bold.otf</string>
		<string>ZvinSerif-Bold.ttf</string>
		<string>ZvinSerif-Medium.otf</string>
		<string>ZvinSerif-Medium.ttf</string>
		<string>ZvinSerif-Regular.otf</string>
		<string>ZvinSerif-Regular.ttf</string>
		<string>ZvinSerif-SemiBold.otf</string>
		<string>ZvinSerif-SemiBold.ttf</string>
		<string>ZvinSerifGX.ttf</string>
		<string>amadz3.ttf</string>
		<string>applebeech.ttf</string>
		<string>braille_cursive.ttf</string>
		<string>crymeddau.ttf</string>
		<string>efkoliarm.ttf</string>
		<string>franader.ttf</string>
		<string>gammadel.ttf</string>
		<string>hanawan-syllabary.ttf</string>
		<string>high_arian.ttf</string>
		<string>kble_alphabet.ttf</string>
		<string>keburi.otf</string>
		<string>kodak.ttf</string>
		<string>library.ttf</string>
		<string>nkoma.ttf</string>
		<string>patternScript.ttf</string>
		<string>sg_anq.ttf</string>
		<string>tanar.ttf</string>
		<string>the_hermit_runes.ttf</string>
		<string>trevors_super_longhand.ttf</string>
		<string>uarizibue.ttf</string>
		<string>wedges.ttf</string>
		<string>weem.otf</string>
		<string>wyrm.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
